In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

### Data importation

In [8]:
data = pd.read_csv("netflix_customer_survey.csv")
data.head()

   customerid  NumberAccounts  price ExtraContent           ads  selected
0           7               2     10          HBO   one_per_day         1
1           7               6      8       Marvel  one_per_show         1
2           7               4     15       Disney   one_per_day         1
3           7               5     10          HBO   one_per_day         1
4           7               1     20       Soccer  one_per_show         1

### Data Preperation

In [9]:
X = data.drop(columns=['selected', 'customerid'])
y = data['selected']
X.head()

   NumberAccounts  price ExtraContent           ads
0               2     10          HBO   one_per_day
1               6      8       Marvel  one_per_show
2               4     15       Disney   one_per_day
3               5     10          HBO   one_per_day
4               1     20       Soccer  one_per_show

In [10]:
# One-hot encode the features
X = pd.get_dummies(X, columns=X.columns)
X.head(1)

,NumberAccounts_1,NumberAccounts_2,NumberAccounts_3,NumberAccounts_4,NumberAccounts_5,NumberAccounts_6,price_8,price_10,price_12,price_15,...,price_20,ExtraContent_Disney,ExtraContent_HBO,ExtraContent_Marvel,ExtraContent_Prime originals,ExtraContent_Soccer,ExtraContent_less content,ads_none,ads_one_per_day,ads_one_per_show
0,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0